<main>
  <h1>How to use templates</h1>
  <p>This app have examples in how to use template reflections and guards</p>


  @for (item of items; track item.title) {
    @switch (item.type) {
      @case (PostTypes.TEXT) {
        <ng-container *ngTemplateOutlet="text; context: { $implicit: item.title, value: item.value }"></ng-container>
      }
      @case(PostTypes.LINKS) {
        <app-link-list [content]="item"></app-link-list>
      }
      @default {
        <ng-container *ngTemplateOutlet="text; context: { $implicit: item.title, value: item.value }"></ng-container>
      }
    }
    <hr />
  }

  <ng-template #text let-title let-value="value">
    <h3>Hello {{ title }}!</h3>
    <p>Value {{ value }}!</p>
  </ng-template>

</main>
